.threat {
    // width: 75%;
    background: #F4F5F7;
    padding: 25px;
    display: flex;
    flex: 1;
    flex-direction: column;

    .threat-body {
        display: flex;
        flex-wrap: wrap;
    }
    h2 {
        color: #079;
    }

}

@media (max-width: 500px) {
    .threat-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
